{
  "printWidth": 110,
  "arrowParens": "always",
  "semi": false,
  "bracketSameLine": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "singleQuote": false,

  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
