@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adjust header styles for mobile landscape */

@layer utilities {
  @media screen and (orientation: landscape) and (max-device-width: 926px) {
    .landscape-header {
      @apply grid-cols-[50px_1fr_50px] px-2 text-[10px];
    }
    .small-icon {
      @apply size-4
    }
    .small-text {
      @apply text-[10px]
    }
    .small-padding-x {
      @apply px-2 py-0.5
    }
    .small-padding-y {
      @apply  py-1
    }

  }
}
/* Hide controls for most modern browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
  appearance: textfield; /* For other modern browsers */
}

/* Hide native iOS video controls */
video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

video::-webkit-media-controls-panel {
  display: none !important;
}

video::-webkit-media-controls-play-button {
  display: none !important;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
}

/* fade in animation  */

/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-duration: 200ms;
  animation-name: fadeIn;
  animation-timing-function: ease;
} */
